.pop-autocomplete {
    max-height: 250px;
    overflow: auto;
    min-width: 600px;
    max-width: 600px;
   
table {
    width: 100%;
    border-collapse: collapse;
    tr {
      &:hover {
       background: #e4e4e4;
      }
    }
    th {
     padding: 5px;
   background: cadetblue;
   color: #fff;
   font-weight: 300;
   border-right: 1px solid;
   font-size: 14px;
   top: 0;
   position: sticky;
   z-index: 10;
    }
    td {
     padding: 5px;
   border-right: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
   font-size: 14px;
   cursor: pointer;
   &:first-child{
     padding: 0;
   min-width: 1px;
   max-width: 1px;
   width: 1px;
   overflow: hidden;
     input {
       width: 1px;
   visibility: hidden;
   min-width: 1px;
   max-width: 1px;
     }
   }
   }
  }
}
.active-pop {
    background: #ccc;
  }