.container {
    margin-top: 20px;
    margin-left: 20px;
  
    .tbl-report {
  
      table {
        th {
          background: #673ab7;
          color: #fff;
        }
      }
    }
    .entry-box{
        margin-top: 20px;
    }
  }
  